@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full bg-gray-100;
}

body {
  @apply h-full;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
}

*:focus {
  outline: 0 !important;
}

.firebase-emulator-warning {
  display: none;
}
